* {
    box-sizing: border-box;
    margin: 0;

    font-family: "Noto Sans KR", sans-serif;
}

body {
    background-color: #000;
}

.login-page {
    background-color: #fff;
    width: 695px;
    height: 812px;
    border-radius: 10px;
    margin: 25px 5px;
}

/* 18~*/
.login-page .header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid #bbbbbb;
    margin-bottom: 35px;
}

.login-page .header h1 {
    font-size: 21px;
    font-weight: 500;
    margin: 25px 0;
}

.login-page .header button {
    position: absolute;
    top: 27px;
    right: 27px;

    border: none;
    background-color: #fff;

    cursor: pointer;
}

.login-page .header button img {
    width: 22px;
    height: 22px;
}

/* 25~*/
.login-page .login,
.login-page .login-with-sites {
    padding: 0 34px;
}

.login-page .login {
    display: flex;
    flex-direction: column;
}

.login-page .login strong {
    font-size: 26px;
    font-weight: 500;

    margin-bottom: 25px;
}

.login-page .login .keep-text .check {
    display: flex;
    align-items: center;

    border: none;
    background-color: #fff;
    margin-bottom: 25px;
    padding: 0;

    cursor: pointer;
}

.login-page .login .keep-text .check::before {
    content: "";
    background-image: url("./LDH_LION_img/icon_check_empty.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
}

.login-page .login .keep-text .check span {
    font-size: 22px;
    color: #929292;
    margin-left: 16px;
}

.login-page .login .login-button {
    width: 627px;
    height: 79px;
    border: none;
    border-radius: 8px;
    margin: 0 auto 26px;
    color: #fff;

    font-size: 28px;
    font-weight: 600;
    background-color: #2f80ec;
}

.login-page .login .look-box {
    margin-bottom: 30px;

    color: #929292;
}

.login-page .login .look-box ul {
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 20px;
    list-style: none;
}

.login-page .login .look-box li:nth-child(1)::after {
    content: "|";
    margin: 0 15px;
}

.login-page .login .look-box button {
    border: none;
    background-color: #fff;
    color: #929292;
    font-size: 20px;
    padding: 0;
}

/* 48~ */
.login-page .login-with-sites .or {
    display: flex;
    /* flex-basis: 100%; */
    align-items: center;
    margin: 8px 0 20px;
    color: #929292;
    font-size: 20px;
}

.login-page .login-with-sites .or::before,
.login-page .login-with-sites .or::after {
    content: "";
    flex-grow: 1;
    background: #bbbbbb;
    height: 2px;
    /* font-size: 0px; */
    /* line-height: 0px; */
}

.login-page .login-with-sites .or::before {
    margin-right: 20px;
}

.login-page .login-with-sites .or::after {
    margin-left: 20px;
}

.login-page .login-with-sites .login-accounts {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */

    /* margin-bottom: 13px; */
    padding: 0;
    list-style: none;
}
/**/
.login-page .login-with-sites .login-accounts li {
    height: 70px;
    padding: 0;
    margin-bottom: 10px;
    font-size: 22px;
}

.login-page .login-with-sites .login-accounts li a {
    position: relative;
    display: block;
    height: 70px;
    width: 100%;
    text-decoration: none;
    color: #929292;
    border-radius: 8px;
    text-align: center;
    line-height: 70px;
}

.login-page .login-with-sites li:nth-child(1) a {
    border: 2px solid #929292;
}

.login-page .login-with-sites li:nth-child(2) a {
    border: 2px solid #339fdc;
}

.login-page .login-with-sites li:nth-child(3) a {
    border: 2px solid #00bf17;
}

.login-page .login-with-sites li:nth-child(4) a {
    border: 2px solid #f2c84d;
}

.login-page .login-with-sites .login-accounts .google::before {
    content: url(./LDH_LION_img/icon_google.png);
    position: absolute;
    top: 0;
    left: 20px;
}

.login-page .login-with-sites .login-accounts .facebook::before {
    content: url(./LDH_LION_img/icon_facebook.png);
    position: absolute;
    top: 0;
    left: 20px;
}

.login-page .login-with-sites .login-accounts .naver::before {
    content: url(./LDH_LION_img/icon_naver.png);
    position: absolute;
    top: 0;
    left: 20px;
}

.login-page .login-with-sites .login-accounts .kakao::before {
    content: url(./LDH_LION_img/icon_kakao.png);
    position: absolute;
    top: 0;
    left: 20px;
}
